In [2]:
import pandas as pd
from cleaning import ingest_data
from cleaning import get_sheet_data
from cleaning import SHEET_NAMES
from cleaning import clean
import numpy as np

In [3]:
dict_data = ingest_data(r'C:\Users\DELL\Desktop\AI Saturdays Lagos\cohort7-team-Selassie\Final_Project\SELECTED FOOD (JAN_2019 - NOV 2021).csv', SHEET_NAMES)

In [4]:
dollar_price = pd.read_excel(r'C:\Users\DELL\Desktop\AI Saturdays Lagos\cohort7-team-Selassie\Final_Project\Dollar_Prices.xlsx')

In [5]:
dollar_price['Date'] = pd.to_datetime(dollar_price['Date'])

In [6]:
print(SHEET_NAMES)

['NATIONAL', 'ABIA', 'ABUJA', 'ANAMBRA', 'EBONYI', 'ENUGU', 'IMO', 'AKWA IBOM', 'BAYELSA', 'CROSS RIVER', 'DELTA', 'RIVERS', 'EDO', 'ADAMAWA', 'BAUCHI', 'BORNO', 'GOMBE', 'BENUE', 'TARABA', 'YOBE', 'KOGI', 'KWARA', 'NASSARAWA', 'NIGER', 'PLATEAU', 'EKITI', 'LAGOS', 'ONDO', 'OGUN_', 'OSUN', 'OYO', 'JIGAWA_', 'KADUNA_', 'KANO_', 'KATSINA', 'KEBBI_', 'ZAMFARA_', 'SOKOTO']

In [7]:
df_abia = get_sheet_data(dict_data, 'ABIA')
df_abuja = get_sheet_data(dict_data, 'ABUJA')
df_anambra = get_sheet_data(dict_data, 'ANAMBRA')
df_ebonyi = get_sheet_data(dict_data, 'EBONYI')
df_enugu = get_sheet_data(dict_data, 'ENUGU')
df_imo = get_sheet_data(dict_data, 'IMO')
df_akwa_ibom = get_sheet_data(dict_data, 'AKWA IBOM')
df_bayelsa = get_sheet_data(dict_data, 'BAYELSA')
df_cross_river = get_sheet_data(dict_data, 'CROSS RIVER')
df_delta = get_sheet_data(dict_data, 'DELTA')
df_rivers = get_sheet_data(dict_data, 'RIVERS')
df_edo = get_sheet_data(dict_data, 'EDO')
df_adamawa = get_sheet_data(dict_data, 'ADAMAWA')
df_bauchi = get_sheet_data(dict_data, 'BAUCHI')
df_borno = get_sheet_data(dict_data, 'BORNO')
df_gombe = get_sheet_data(dict_data, 'GOMBE')
df_benue = get_sheet_data(dict_data, 'BENUE')
df_taraba = get_sheet_data(dict_data, 'TARABA')
df_yobe = get_sheet_data(dict_data, 'YOBE')
df_kogi = get_sheet_data(dict_data, 'KOGI')
df_kwara = get_sheet_data(dict_data, 'KWARA')
df_nassarawa = get_sheet_data(dict_data, 'NASSARAWA')
df_niger = get_sheet_data(dict_data, 'NIGER')
df_plateau = get_sheet_data(dict_data, 'PLATEAU')
df_ekiti = get_sheet_data(dict_data, 'EKITI')
df_lagos = get_sheet_data(dict_data, 'LAGOS')
df_ondo = get_sheet_data(dict_data, 'ONDO')
df_ogun = get_sheet_data(dict_data, 'OGUN_')
df_osun = get_sheet_data(dict_data, 'OSUN')
df_oyo = get_sheet_data(dict_data, 'OYO')
df_jigawa = get_sheet_data(dict_data, 'JIGAWA_')
df_kaduna = get_sheet_data(dict_data, 'KADUNA_')
df_kano = get_sheet_data(dict_data, 'KANO_')
df_kastina = get_sheet_data(dict_data, 'KATSINA')
df_kebbi = get_sheet_data(dict_data, 'KEBBI_')
df_zamfara = get_sheet_data(dict_data, 'ZAMFARA_')
df_sokoto = get_sheet_data(dict_data, 'SOKOTO')

In [8]:
abia = clean(df_abia)
abuja = clean(df_abuja)
anambra = clean(df_adamawa)
ebonyi = clean(df_ebonyi)
imo = clean(df_imo)
akwa_ibom = clean(df_akwa_ibom)
enugu = clean(df_enugu)
bayelsa = clean(df_bayelsa)
cross_river = clean(df_cross_river)
delta = clean(df_delta)
rivers = clean(df_rivers)
edo = clean(df_edo)
adamawa = clean(df_adamawa)
bauchi = clean(df_bauchi)
borno = clean(df_borno)
gombe = clean(df_gombe)
benue = clean(df_benue)
taraba = clean(df_taraba)
yobe = clean(df_yobe)
kogi = clean(df_kogi)
kwara = clean(df_kwara)
nassarawa = clean(df_nassarawa)
niger = clean(df_niger)
plateau = clean(df_plateau)
ekiti = clean(df_ekiti)
lagos = clean(df_lagos)
ondo = clean(df_ondo)
ogun = clean(df_ogun)
osun = clean(df_osun)
oyo = clean(df_oyo)
jigawa = clean(df_jigawa)
kaduna = clean(df_kaduna)
kano = clean(df_kano)
kastina = clean(df_kastina)
kebbi = clean(df_kebbi)
zamfara = clean(df_zamfara)
sokoto = clean(df_sokoto)

In [9]:
states = [abia, abuja, anambra, ebonyi, imo, akwa_ibom, enugu, bayelsa, cross_river, delta, rivers, edo, adamawa, bauchi, 
borno, gombe, benue, taraba, yobe, kogi, kwara, nassarawa, niger, plateau, ekiti, lagos, ondo, ogun, osun, oyo, jigawa,
 kano, kaduna, kastina, kebbi, sokoto, zamfara]

In [10]:
for state in states:
    state.index =  pd.to_datetime(state.index)
    state.reset_index(inplace= True)
    state.rename(columns={'index':'Date'}, inplace= True)

In [11]:
abia_new = abuja.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
abuja_new = abuja.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
anambra_new = anambra.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
ebonyi_new = ebonyi.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
imo_new = imo.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
akwa_ibom_new = akwa_ibom.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
enugu_new = enugu.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
bayelsa_new = bayelsa.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
cross_river_new = cross_river.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
delta_new = delta.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
rivers_new = rivers.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
edo_new = edo.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
adamawa_new = adamawa.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
bauchi_new = bauchi.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
borno_new =borno.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
gombe_new =gombe.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
benue_new = benue.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
taraba_new = taraba.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
yobe_new = yobe.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kogi_new = kogi.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kwara_new = kwara.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
nassarawa_new = nassarawa.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
niger_new = niger.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
plateau_new = plateau.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
ekiti_new = ekiti.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
lagos_new = lagos.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
ondo_new = ondo.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
ogun_new = ogun.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
osun_new = osun.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
oyo_new = oyo.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
jigawa_new = jigawa.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kano_new = kano.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kaduna_new = kaduna.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kastina_new = kastina.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
kebbi_new = kebbi.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
zamfara_new = zamfara.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")
sokoto_new = sokoto.melt(id_vars=['Date'], var_name="Food_items", value_name="Food_prices")

In [12]:
kaduna_new.head()

        Date                     Food_items  Food_prices
0 2019-01-01  Agric eggs medium size1 Dozen   436.333333
1 2019-02-01  Agric eggs medium size1 Dozen   425.357143
2 2019-03-01  Agric eggs medium size1 Dozen   412.812500
3 2019-04-01  Agric eggs medium size1 Dozen   410.312500
4 2019-05-01  Agric eggs medium size1 Dozen   413.562500

In [13]:
abia_new['Location']= 'Abia'

In [14]:
abia_new.head()

        Date                     Food_items  Food_prices Location
0 2019-01-01  Agric eggs medium size1 Dozen   464.000000     Abia
1 2019-02-01  Agric eggs medium size1 Dozen   484.000000     Abia
2 2019-03-01  Agric eggs medium size1 Dozen   460.000000     Abia
3 2019-04-01  Agric eggs medium size1 Dozen   492.222222     Abia
4 2019-05-01  Agric eggs medium size1 Dozen   485.555556     Abia

In [15]:

abuja_new['Location'] = 'Abuja'
anambra_new['Location'] = 'Anambra'
ebonyi_new['Location'] = 'Ebonyi'
imo_new['Location'] = 'Imo'
akwa_ibom_new['Location'] = 'Akwa Ibom'
enugu_new['Location'] = 'Enugu'
bayelsa_new['Location'] = 'Bayelsa'
cross_river_new['Location'] = 'Cross River'
delta_new['Location'] = 'Delta'
rivers_new['Location'] = 'Rivers'
edo_new['Location'] = 'Edo'
adamawa_new['Location'] = 'Adamawa'
bauchi_new['Location'] = 'Bauchi'
borno_new['Location'] = 'Borno'
gombe_new['Location'] = 'Gombe'
benue_new['Location'] = 'Benue'
taraba_new['Location'] = 'Taraba'
yobe_new['Location'] = 'Yobe'
kogi_new['Location'] = 'Kogi'
kwara_new['Location'] = 'Kwara'
nassarawa_new['Location'] = 'Nassarawa'
niger_new['Location'] = 'Niger'
plateau_new['Location'] = 'Plateau'
ekiti_new['Location'] = 'Ekiti'
lagos_new['Location'] = 'Lagos'
ondo_new['Location'] = 'Ondo'
ogun_new['Location'] = 'Ogun'
osun_new['Location'] = 'Osun'
oyo_new['Location'] = 'Oyo'
jigawa_new['Location'] = 'Jigawa'
kano_new['Location'] = 'Kano'
kaduna_new['Location'] = 'Kaduna'
kastina_new['Location'] = 'Kastina'
kebbi_new['Location'] = 'Kebbi'
zamfara_new['Location'] = 'Zamfara'
sokoto_new['Location'] = 'Sokoto'

In [16]:
data1 = pd.merge_ordered(abia_new, abuja_new)
data2 = pd.merge_ordered(data1, ebonyi_new)
data3 = pd.merge_ordered(data2, imo_new)
data4 = pd.merge_ordered(data3, akwa_ibom_new)
data5 = pd.merge_ordered(data4, enugu_new)
data6 = pd.merge_ordered(data5, bayelsa_new)
data7 = pd.merge_ordered(data6, cross_river_new)
data8 = pd.merge_ordered(data7, delta_new)
data9 = pd.merge_ordered(data8, rivers_new)
data10 = pd.merge_ordered(data9, edo_new)
data11 = pd.merge_ordered(data10, adamawa_new)
data12 = pd.merge_ordered(data11, bauchi_new)
data13 = pd.merge_ordered(data12, borno_new)
data14 = pd.merge_ordered(data13, gombe_new)
#data15 = pd.merge_ordered(data14, benue_new)
data16 = pd.merge_ordered(data14, taraba_new)
data17 = pd.merge_ordered(data16, yobe_new)
data18 = pd.merge_ordered(data17, kogi_new)
data19 = pd.merge_ordered(data18, kwara_new)
data20 = pd.merge_ordered(data19, nassarawa_new)
data21 = pd.merge_ordered(data20, niger_new)
data22 = pd.merge_ordered(data21, plateau_new)
data23 = pd.merge_ordered(data22, ekiti_new)
data24 = pd.merge_ordered(data23, lagos_new)
data25 = pd.merge_ordered(data24, ondo_new)
data26 = pd.merge_ordered(data25, ogun_new)
data27 = pd.merge_ordered(data26, osun_new)
data28 = pd.merge_ordered(data27, oyo_new)
data29 = pd.merge_ordered(data28, jigawa_new)
data30 = pd.merge_ordered(data29, kano_new)
data31 = pd.merge_ordered(data30, kaduna_new)
data32 = pd.merge_ordered(data31, kastina_new)
data33 = pd.merge_ordered(data32, kebbi_new)
data34 = pd.merge_ordered(data33, sokoto_new)
data35 = pd.merge_ordered(data34, zamfara_new)
data_set = pd.merge_ordered(data35, anambra_new)

In [17]:
pd.set_option('max_rows',None)
pd.set_option('max_columns',None)

In [18]:
data_set.head(10)

        Date                     Food_items Food_prices Location
0 2019-01-01  Agric eggs medium size1 Dozen  412.272727    Gombe
1 2019-01-01  Agric eggs medium size1 Dozen  413.333333   Taraba
2 2019-01-01  Agric eggs medium size1 Dozen  413.913043     Osun
3 2019-01-01  Agric eggs medium size1 Dozen  419.090909  Adamawa
4 2019-01-01  Agric eggs medium size1 Dozen  419.090909  Anambra
5 2019-01-01  Agric eggs medium size1 Dozen  428.421053     Ogun
6 2019-01-01  Agric eggs medium size1 Dozen      428.75  Kastina
7 2019-01-01  Agric eggs medium size1 Dozen       430.0     Yobe
8 2019-01-01  Agric eggs medium size1 Dozen  433.846154    Borno
9 2019-01-01  Agric eggs medium size1 Dozen  436.333333   Kaduna

In [19]:
data_set.describe(include='all')

C:\Users\DELL\AppData\Local\Temp/ipykernel_3088/1327477641.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  data_set.describe(include='all')

                       Date        Food_items  Food_prices Location
count                 54137             54137      54136.0    54137
unique                   35                43      39861.0       36
top     2020-03-01 00:00:00  Iced Sardine1 KG        950.0    Enugu
freq                   1548              1259        122.0     1505
first   2019-01-01 00:00:00               NaN          NaN      NaN
last    2021-11-01 00:00:00               NaN          NaN      NaN

In [20]:
data_copied = data_set.copy()

In [21]:
data_copied.shape

(54137, 4)

In [22]:
data_copied.dtypes

Date           datetime64[ns]
Food_items             object
Food_prices            object
Location               object
dtype: object

In [23]:
data_copied = pd.merge(data_copied, dollar_price, left_on= 'Date', right_on= 'Date')

In [24]:
data_copied.head()

        Date                     Food_items Food_prices Location
0 2019-01-01  Agric eggs medium size1 Dozen  412.272727    Gombe
1 2019-01-01  Agric eggs medium size1 Dozen  413.333333   Taraba
2 2019-01-01  Agric eggs medium size1 Dozen  413.913043     Osun
3 2019-01-01  Agric eggs medium size1 Dozen  419.090909  Adamawa
4 2019-01-01  Agric eggs medium size1 Dozen  419.090909  Anambra

In [25]:
data_copied['YEAR'] = data_copied['Date'].dt.year
data_copied['MONTH'] = data_copied['Date'].dt.month
data_copied['DAY'] = data_copied['Date'].dt.day
data_copied.drop(['Date'], axis = 'columns', inplace = True)

In [26]:
data_copied.head()

                      Food_items Food_prices Location  YEAR  MONTH  DAY
0  Agric eggs medium size1 Dozen  412.272727    Gombe  2019      1    1
1  Agric eggs medium size1 Dozen  413.333333   Taraba  2019      1    1
2  Agric eggs medium size1 Dozen  413.913043     Osun  2019      1    1
3  Agric eggs medium size1 Dozen  419.090909  Adamawa  2019      1    1
4  Agric eggs medium size1 Dozen  419.090909  Anambra  2019      1    1

In [27]:
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error
from sklearn.linear_model import Lasso, Ridge, LinearRegression, LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [28]:
train = data_copied[data_copied['YEAR'].isin([2019, 2020])]

In [29]:
test = data_copied[data_copied['YEAR'].isin([2021])]

In [30]:
def fix(x):
    try:
        value=float(x)
    except:
        try:
            number=x.split(' ')
            value= number[0]+'.'+number[1]
            value= float(value)
        except:
            value=0
    return value

train['Food_prices'] = train['Food_prices'].apply(fix)
test['Food_prices'] = test['Food_prices'].apply(fix)

C:\Users\DELL\AppData\Local\Temp/ipykernel_3088/1220022930.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train['Food_prices'] = train['Food_prices'].apply(fix)
C:\Users\DELL\AppData\Local\Temp/ipykernel_3088/1220022930.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test['Food_prices'] = test['Food_prices'].apply(fix)

In [31]:
print(train.shape, test.shape)
train= train[train['Food_prices']!=0]
test= test[test['Food_prices']!=0]
print(train.shape, test.shape)

(37109, 6) (17028, 6)
(37108, 6) (17027, 6)

In [32]:
train.shape, test.shape

((37108, 6), (17027, 6))

In [33]:
train = pd.get_dummies(train)

In [34]:
test = pd.get_dummies(test)

In [35]:
print(train.shape, test.shape)
train.dropna(inplace = True)
test.dropna(inplace= True)
print(train.shape, test.shape)

(37108, 83) (17027, 83)
(37107, 83) (17027, 83)

In [36]:
train.head()
train.tail()

,Food_prices,YEAR,MONTH,DAY,Food_items_Agric eggs medium size1 Dozen,Food_items_Agric eggs(medium size price of one)1 Piece,"Food_items_Beans brown,sold loose1 KG",Food_items_Beans:white black eye. sold loose1 KG,Food_items_Beef Bone in1 KG,"Food_items_Beef,boneless1 KG",Food_items_Bread sliced 500g1 Loaf,Food_items_Bread unsliced 500g1 Loaf,Food_items_Broken Rice (Ofada)1 KG,Food_items_Catfish (obokun) fresh1 KG,Food_items_Catfish :dried1 KG,Food_items_Catfish Smoked1 KG,Food_items_Chicken Feet1 KG,Food_items_Chicken Wings1 KG,Food_items_Dried Fish Sardine1 KG,Food_items_Evaporated tinned milk carnation 170g170g,"Food_items_Evaporated tinned milk(peak), 170g170g",Food_items_Frozen chicken1 Unit,"Food_items_Gari white,sold loose1 KG","Food_items_Gari yellow,sold loose1 KG","Food_items_Groundnut oil: 1 bottle, specify bottle1 L",Food_items_Iced Sardine1 KG,Food_items_Irish potato1 KG,Food_items_Mackerel : frozen1 KG,Food_items_Maize grain white sold loose1 KG,Food_items_Maize grain yellow sold loose1 KG,Food_items_Mudfish (aro) fresh1 KG,Food_items_Mudfish : dried1 KG,Food_items_Onion bulb1 KG,"Food_items_Palm oil: 1 bottle,specify bottle1 L",Food_items_Plantain(ripe)1 KG,Food_items_Plantain(unripe)1 KG,Food_items_Rice Medium Grained1 KG,Food_items_Rice agric sold loose1 KG,Food_items_Rice local sold loose1 KG,"Food_items_Rice,imported high quality sold loose1 KG",Food_items_Sweet potato1 KG,Food_items_Tilapia fish (epiya) fresh1 KG,Food_items_Titus:frozen1 KG,Food_items_Tomato1 KG,"Food_items_Vegetable oil:1 bottle,specify bottle1 L",Food_items_Wheat flour: prepacked (golden penny 2kg)2 KG,Food_items_Yam tuber1 KG,Location_Abia,Location_Abuja,Location_Adamawa,Location_Akwa Ibom,Location_Anambra,Location_Bauchi,Location_Bayelsa,Location_Borno,Location_Cross River,Location_Delta,Location_Ebonyi,Location_Edo,Location_Ekiti,Location_Enugu,Location_Gombe,Location_Imo,Location_Jigawa,Location_Kaduna,Location_Kano,Location_Kastina,Location_Kebbi,Location_Kogi,Location_Kwara,Location_Lagos,Location_Nassarawa,Location_Niger,Location_Ogun,Location_Ondo,Location_Osun,Location_Oyo,Location_Plateau,Location_Rivers,Location_Sokoto,Location_Taraba,Location_Yobe,Location_Zamfara
37104,336.666667,2020,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0
37105,365.275013,2020,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
37106,369.547150,2020,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
37107,427.996798,2020,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
37108,450.549210,2020,12,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [37]:
X_train = train.drop(['Food_prices'], axis = 1)
y_train = train['Food_prices']
X_test= test.drop(['Food_prices'], axis = 1)
y_test= test['Food_prices']

In [38]:
train.corr()['Food_prices'].sort_values()

Food_items_Agric eggs(medium size price of one)1 Piece     -0.172740
Food_items_Sweet potato1 KG                                -0.140801
Food_items_Maize grain white sold loose1 KG                -0.137914
Food_items_Maize grain yellow sold loose1 KG               -0.137383
Food_items_Evaporated tinned milk carnation 170g170g       -0.137170
Food_items_Gari white,sold loose1 KG                       -0.130232
Food_items_Evaporated tinned milk(peak), 170g170g          -0.128399
Food_items_Gari yellow,sold loose1 KG                      -0.123554
Food_items_Plantain(unripe)1 KG                            -0.120362
Food_items_Yam tuber1 KG                                   -0.120097
Food_items_Plantain(ripe)1 KG                              -0.117253
Food_items_Onion bulb1 KG                                  -0.114320
Food_items_Tomato1 KG                                      -0.108675
Food_items_Bread unsliced 500g1 Loaf                       -0.101413
Food_items_Beans:white black eye. sold loose1 KG           -0.100222
Food_items_Irish potato1 KG                                -0.097484
Food_items_Bread sliced 500g1 Loaf                         -0.094097
Food_items_Beans brown,sold loose1 KG                      -0.091166
Food_items_Rice local sold loose1 KG                       -0.087147
Food_items_Rice Medium Grained1 KG                         -0.075349
Food_items_Rice agric sold loose1 KG                       -0.074674
Food_items_Broken Rice (Ofada)1 KG                         -0.064645
Food_items_Rice,imported high quality sold loose1 KG       -0.055375
Food_items_Agric eggs medium size1 Dozen                   -0.045005
Food_items_Palm oil: 1 bottle,specify bottle1 L            -0.041541
Location_Taraba                                            -0.028503
Location_Kastina                                           -0.024583
Food_items_Vegetable oil:1 bottle,specify bottle1 L        -0.024329
Location_Gombe                                             -0.022483
Location_Bauchi                                            -0.022206
Location_Kebbi                                             -0.021298
Location_Kano                                              -0.021046
Location_Borno                                             -0.019858
Location_Adamawa                                           -0.019535
Location_Anambra                                           -0.019535
Location_Jigawa                                            -0.017170
Location_Niger                                             -0.016664
Location_Zamfara                                           -0.016265
Location_Kaduna                                            -0.015724
Location_Kwara                                             -0.015355
Location_Yobe                                              -0.015001
Location_Nassarawa                                         -0.014397
Location_Sokoto                                            -0.014242
Location_Osun                                              -0.010038
Food_items_Groundnut oil: 1 bottle, specify bottle1 L      -0.008652
Location_Kogi                                              -0.005408
Location_Ondo                                              -0.005221
Location_Oyo                                               -0.005015
Location_Ekiti                                              0.000399
Location_Ogun                                               0.000689
Location_Plateau                                            0.001584
Location_Lagos                                              0.008589
MONTH                                                       0.016872
Food_items_Wheat flour: prepacked (golden penny 2kg)2 KG    0.021162
Food_items_Chicken Feet1 KG                                 0.022853
Location_Akwa Ibom                                          0.023610
Location_Edo                                                0.025507
Location_Rivers                                             0.026059
Location_Delta                                              0.026602
Location_Ebonyi                                             0.026774
Location_Imo                                                0.027717
Location_Enugu                                              0.028596
YEAR                                                        0.029716
Location_Cross River                                        0.035828
Location_Abia                                               0.037346
Location_Abuja                                              0.037346
Location_Bayelsa                                            0.042460
Food_items_Tilapia fish (epiya) fresh1 KG                   0.073135
Food_items_Chicken Wings1 KG                                0.089631
Food_items_Iced Sardine1 KG                                 0.102175
Food_items_Mackerel : frozen1 KG                            0.102719
Food_items_Titus:frozen1 KG                                 0.109325
Food_items_Mudfish (aro) fresh1 KG                          0.114703
Food_items_Catfish (obokun) fresh1 KG                       0.124785
Food_items_Beef Bone in1 KG                                 0.125471
Food_items_Beef,boneless1 KG                                0.201349
Food_items_Dried Fish Sardine1 KG                           0.245653
Food_items_Catfish Smoked1 KG                               0.270346
Food_items_Catfish :dried1 KG                               0.328893
Food_items_Mudfish : dried1 KG                              0.341112
Food_items_Frozen chicken1 Unit                             0.376985
Food_prices                                                 1.000000
DAY                                                              NaN
Name: Food_prices, dtype: float64

In [39]:
lin_model = LinearRegression()
lin_model.fit(X_train, y_train)
predx= lin_model.predict(X_train)
pred= lin_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

137.65347702688334
218.30312363220395
0.9289583546628297
0.8529111092162819

In [40]:
R_model = Ridge()
R_model.fit(X_train, y_train)
predx= R_model.predict(X_train)
pred= R_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

137.62979001381913
218.3986256601731
0.9289580048357752
0.8527823858174399

In [41]:
L_model = Lasso()
L_model.fit(X_train, y_train)
predx= L_model.predict(X_train)
pred= L_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

156.36055285784627
242.326702746737
0.9186909525805026
0.8187564670809644

In [59]:
RFR_model = RandomForestRegressor(random_state=42)
RFR_model.fit(X_train, y_train)
predx= RFR_model.predict(X_train)
pred= RFR_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

118.68239525270276
184.52003198942714
0.9972044989336516
0.8949134787616145

In [43]:
KNR_model = KNeighborsRegressor()
KNR_model.fit(X_train, y_train)
predx= KNR_model.predict(X_train)
pred= KNR_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

182.97847067610445
269.9918981717491
0.9372255864991103
0.7750109212621267

In [44]:
SVR_model = SVR()
SVR_model.fit(X_train, y_train)
predx= SVR_model.predict(X_train)
pred= SVR_model.predict(X_test)
print(mean_absolute_error(y_test, pred))
print(np.sqrt(mean_squared_error(y_test, pred)))
print(r2_score(y_train, predx))
print(r2_score(y_test, pred))

439.15247056070314
643.0478807836091
-0.14919154570632198
-0.2762818572873451

In [45]:
from sklearn.model_selection import RandomizedSearchCV

In [46]:
params= dict()
params['n_estimators']=[10,50,100,200]
params['max_depth']= [2,3,4,5,6,7,8,9,10]
params['bootstrap']= [True, False]
params['max_features']= ['auto', 'sqrt']
params['min_samples_split']= [2, 5, 10]
params['min_samples_leaf']= [1, 2, 5]

clf= RandomForestRegressor()
random= RandomizedSearchCV(estimator= clf,verbose=5, cv=5, n_iter=100, scoring='neg_root_mean_squared_error', n_jobs=-1,param_distributions=params)

In [47]:
result= random.fit(X_train, y_train)
print(result.best_score_)
print(result.best_params_)

Fitting 5 folds for each of 100 candidates, totalling 500 fits
-249.05909070288573
{'n_estimators': 200, 'min_samples_split': 2, 'min_samples_leaf': 2, 'max_features': 'auto', 'max_depth': 10, 'bootstrap': True}

In [ ]:
import pickle

In [ ]:
filename = 'finalized_model.sav'
pickle.dump(RFR_model, open(filename, 'wb'))